html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  position: relative;
  padding: 2rem;
}

.robot {
  width: 320px;
  position:relative;
  top: 3rem;
  right: 2rem;
  margin: 0 auto;
}

.robot-body {
  width: 320px;
  position: relative;
  bottom: .5rem;
}

.robot-brain {
  width: 46px;
  position: absolute;
  left: 10rem;
  top: 0;
}

.robot-head-right,
.robot-head-left {
  width: 125px;
  position: absolute;
  bottom: 3.5rem;
}
